/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a {
  color: #0ea5e9;
}

@media (prefers-color-scheme: dark) {
  a {
    color: #7dd3fc;
  }
}

.btn-primary {
  color: #fefce8;
  background-color: #f43f5e;
  border-color: #e11d48;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fefce8;
  background-color: #f43f5e;
  border-color: #e11d48;
}

.border-top {
  border-top: 1px solid #fde68a;
}
.border-bottom {
  border-bottom: 1px solid #fde68a;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(30, 64, 175, 0.2);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
