@using System.Linq
@model IEnumerable<Clc.BibDedupe.Web.Models.PairMatch>

@if (Model?.Any() == true)
{
    <div class="match-points">
        @foreach (var match in Model)
        {
            <div class="match-point">
                <span class="badge bg-info text-dark">@match.MatchType</span>
                <span class="match-point-value">@match.MatchValue</span>
            </div>
        }
    </div>
}
else
{
    <span class="text-muted">No matches</span>
}
